@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 13px;
}

:root {
  --image-load-time: 1200ms;
}

body {
  width: 100vw;
  height: 200vh;
  margin: 0 auto;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  background-color: #cccace;
  font-size: 2rem;
  line-height: 1.5;
  padding: 20px;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#title {
  font-family: Oswald, sans-serif;
  font-size: 5rem;
  font-weight: 100;
  padding: 10px 0;
  margin-top: 2vmax;
  text-align: center;
  width: 100%;
}

#img-div {
  width: 100vw;
  background-color: #d9d8da;
  margin: 1.5rem auto;
  padding: 3%;
}

#image {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: image-load var(--image-load-time) ease-in forwards;
          animation: image-load var(--image-load-time) ease-in forwards;
  -webkit-transform: translateX(-100%) scale(0.1);
          transform: translateX(-100%) scale(0.1);
}

#img-caption {
  font-size: 1.4rem;
  -webkit-animation: image-caption-load calc(var(--image-load-time) - 200ms) ease-in forwards;
          animation: image-caption-load calc(var(--image-load-time) - 200ms) ease-in forwards;
  -webkit-animation-delay: var(--image-load-time);
          animation-delay: var(--image-load-time);
  opacity: 0;
  z-index: -3;
}

strong {
  font-weight: 800;
  color: #6b1f7a;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

ul {
  text-align: left;
  max-width: 50vw;
  margin: 10px auto 50px auto;
  margin-bottom: 20px;
}

li {
  margin-bottom: 20px;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  padding: 5px 15px;
}

li:hover > strong {
  color: orange;
}

li:hover {
  background-color: #607070;
  color: #e5e1e1;
}

@media (max-width: 480px) {
  body {
    padding: 0;
  }
  h1#title {
    font-size: 3.5rem;
    text-align: center;
    margin: 1rem auto;
    margin-bottom: 0.5rem;
  }
  p {
    text-align: justify-all;
    padding: 5px 2px;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    font-size: 1.2rem;
    line-height: 1.2;
  }
  ul {
    line-height: 1.2;
    list-style: none;
    max-width: 100vw;
    margin: 10px auto;
  }
  #main {
    margin: 0;
  }
  #main #img-div {
    width: 100vw;
    margin: 1.5rem auto;
    padding: 0;
    padding-bottom: 1rem;
  }
  #main #img-div #image {
    width: 100%;
    height: auto;
    margin: 0 auto 0.5rem auto;
  }
  #main h3 {
    margin: 1rem auto;
  }
}

@-webkit-keyframes image-load {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%) scale(0.1);
            transform: translateX(-100%) scale(0.1);
  }
  20% {
    opacity: 0.2;
    -webkit-transform: translateX(5%) scale(0.25);
            transform: translateX(5%) scale(0.25);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: translateX(10%) scale(0.5);
            transform: translateX(10%) scale(0.5);
  }
  90% {
    opacity: 0.9;
    -webkit-transform: translateX(50%) scale(1.1);
            transform: translateX(50%) scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}

@keyframes image-load {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%) scale(0.1);
            transform: translateX(-100%) scale(0.1);
  }
  20% {
    opacity: 0.2;
    -webkit-transform: translateX(5%) scale(0.25);
            transform: translateX(5%) scale(0.25);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: translateX(10%) scale(0.5);
            transform: translateX(10%) scale(0.5);
  }
  90% {
    opacity: 0.9;
    -webkit-transform: translateX(50%) scale(1.1);
            transform: translateX(50%) scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}

@-webkit-keyframes image-caption-load {
  0% {
    opacity: 0;
    z-index: -3;
  }
  90% {
    opacity: 0.5;
    z-index: 1;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}

@keyframes image-caption-load {
  0% {
    opacity: 0;
    z-index: -3;
  }
  90% {
    opacity: 0.5;
    z-index: 1;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}
/*# sourceMappingURL=styles.css.map */