@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 10px; }

/* partials */
@use './mycolors';
.bg-nyanza {
  background-color: #dff2d8; }

.bg-teagreen {
  background-color: #c6dea6; }

.bg-middleblue {
  background-color: #7ebdc3; }

.bg-deeptaupe, #form-cont {
  background-color: #7a6263; }

.bg-sage, .btn-primary {
  background-color: #ced097; }

.bg-color1, .box-cont #box-1 {
  background-color: #17181d; }

.bg-color2, body, .box-cont #box-2 {
  background-color: #292c35; }

.bg-color3, .box-cont #box-3 {
  background-color: #e09145; }

.bg-color4, .box-cont #box-4 {
  background-color: #fcd9b8; }

.text-color1 {
  color: #c7c8cd; }

.text-color2 {
  color: #b9bcb5; }

.text-color3 {
  color: #c0a4a5; }

.text-color4 {
  color: #4c4d58; }

body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  font-family: "Inconsolata", monospace;
  /*background: linear-gradient(45deg);*/ }
  body #container {
    width: 100vw;
    height: 100vh; }
    body #container #header {
      text-align: center;
      padding: 20px; }
      body #container #header #description {
        font-size: 2rem; }

#form-cont {
  width: 60vmax;
  height: auto;
  padding: 2rem;
  margin: 10px auto; }

.box-cont {
  border: 5px solid maroon;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  height: 100%;
  background-color: dimgrey;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1f 1fr;
  grid-gap: 10px; }
  .box-cont .box {
    width: 120px;
    height: 120px;
    background-color: grey; }

.title {
  text-align: center;
  padding: 2vmax;
  font-weight: 500;
  font-size: 4.5rem; }

fieldset {
  padding: 20px;
  font-size: 1.6rem;
  border-radius: 5px; }

label,
#select-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  margin-left: 0;
  text-transform: capitalize;
  font-weight: bold; }

.form-control, select, .radio-group,
.check-group {
  display: block;
  width: 100%;
  padding: 0.1rem;
  font-size: 1.5rem;
  height: 3.25rem;
  border-radius: 3px; }

.form-group {
  margin: 0 auto 2rem auto; }

.radio-control, .checkbox-control {
  display: inline-block; }

.radio-group,
.check-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space;
      -ms-flex-pack: space;
          justify-content: space;
  margin: 0.5rem 0.7rem; }

.radio-control, .checkbox-control {
  display: inline-block; }

label {
  margin: 0 1.2rem; }

#comments {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  background-color: #e0e0e0;
  border-radius: 5px; }

#submit {
  margin: 1rem auto; }

.btn {
  display: block;
  border-radius: 5px;
  outline: none;
  border: none;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in; }

.btn:focus,
.btn:hover {
  outline: none;
  background-color: seagreen; }

.btn-primary {
  width: 100%;
  height: 5rem;
  font-size: 2rem; }

/*# sourceMappingURL=mainstyles.css.map */