@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 15px;
}

/* partials */
@use './mycolors';

// $new-colors:mycolors.$bg-colors;
$bg-colors: (
  "nyanza": #dff2d8,
  "teagreen": #c6dea6,
  "middleblue": #7ebdc3,
  "deeptaupe": #7a6263,
  "sage": #ced097
);

@each $name, $val in $bg-colors {
  .bg-#{$name} {
    background-color: $val;
  }
}

$colors: (
  "color1": #17181d,
  "color2": #292c35,
  "color3": #e09145,
  "color4": #fcd9b8
);

@each $name, $val in $colors {
  .bg-#{$name} {
    background-color: $val;
  }
}
$tcolors: (
  "color1": #c7c8cd,
  "color2": #b9bcb5,
  "color3": #c0a4a5,
  "color4": #4c4d58
);
@each $name, $val in $tcolors {
  .text-#{$name} {
    color: $val;
  }
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  font-family: "Inconsolata", monospace;
  @extend .bg-color2;
  /*background: linear-gradient(45deg);*/
  #container {
    width: 100vw;
    height: 100vh;
    #header {
      text-align: center;
      padding: 20px;
      #description {
        font-size: 2rem;
      }
    }
  }
}

#form-cont {
  @extend .bg-deeptaupe;
  width: 60vmax;
  height: auto;
  padding: 2rem;
  margin: 10px auto;
}

.form-label {
  margin-left: 0px;
}

.box-cont {
  border: 5px solid maroon;
  width: fit-content;
  margin: 0 auto;

  height: 100%;
  background-color: dimgrey;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1f 1fr;
  grid-gap: 10px;
  .box {
    width: 120px;
    height: 120px;
    background-color: grey;
  }
  #box-1 {
    @extend .bg-color1;
  }
  #box-2 {
    @extend .bg-color2;
  }
  #box-3 {
    @extend .bg-color3;
  }
  #box-4 {
    @extend .bg-color4;
  }
}

.title {
  text-align: center;
  padding: 2vmax;
  font-weight: 500;
  font-size: 4.5rem;
}
fieldset {
  padding: 20px;
  font-size: 1.6rem;
  border-radius: 5px;
}
label,
#select-label {
  display: flex;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  margin-left: 0;
  text-transform: capitalize;
  font-weight: bold;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.1rem;
  font-size: 1.5rem;
  height: 3.25rem;
  border-radius: 3px;
}

select {
  @extend .form-control;
}

.form-group {
  margin: 0 auto 2rem auto;
}
//*************************
// Radio and Check controls
//*************************

.radio-control {
  display: inline-block;
}
.radio-group,
.check-group {
  @extend .form-control;
  display: flex;
  justify-content: space;
  margin: 0.5rem 0.7rem;
}

.radio-control {
  display: inline-block;
}

.checkbox-control {
  @extend .radio-control;
  height: 1rem;
  width: 1rem;
}

label {
  margin: 0 1.2rem;
}

#comments {
  width: 100%;
  display: flex;
  height: 300px;
  background-color: #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.5rem;
  line-height: 1.5;
}

#submit {
  margin: 1rem auto;
}

.btn {
  display: block;
  border-radius: 5px;
  outline: none;
  border: none;
  transition: all 250ms ease-in;
}

.btn:focus,
.btn:hover {
  outline: none;
  background-color: seagreen;
}
.btn-primary {
  @extend .bg-sage;
  width: 100%;
  height: 5rem;
  font-size: 2rem;
}
